# ignore netbeans project stuff
build.xml
manifest.mf
nbproject

#Ignore all Java class files
*.class

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/W1D2/NonOO/nbproject/private/
/W1D2/Dog/nbproject/private/
/W1D2/DogProgram/nbproject/private/
/W1D2/DogProgram/build/
/W1D2/MovieProgram/nbproject/private/
/W1D2/MovieProgram/build/
/W1D2/Car Application/build/
/W1D2/TheGuessingGame/build/
/W1D3/DogProgram/build/
/W1D3/Homework/build/
/W1D4/Homework/build/
/W1D5/Homework/build/
/W1D6/HomeworkW1D6/build/
/New Folder/Homework/build/
/W2D2/HomeWorkW2D2/build/
/W2D3/HomeworkW2D3/build/
/W2D4/HomeworkW2D4/build/